div.photo-block {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5%;
}
div.photo-title {
    font-size: 140%;
    font-family: Arial;
    text-decoration: underline;
    }
div.photo-score {
font-family: 130%;
font-family: monospace;
}
img.photo-image {
max-height: 200px;
width: auto;
}
.gallery-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}  
img.photo-image {
    width: 100%;
    height: auto;
}
.input-group > label {
    display: inline-block;
    width: 200px;
    text-align: right;
    }
.input-group {
    margin-bottom: 0.5em;
}
div.title-block {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #EEEEEE;
}
#title {
    font-size: 300%;
    text-decoration: none;
    color: #444444;
    font-family: sans-serif;
    margin-bottom: 0;
}
#subtitle {
    font-size: 120%;
    font-style: italic;
    color: #555555;
    font-family: monospace;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.texto-encima{
    position: absolute;
    top: 120px;
    left: 110px;
    background-color: black;
    color: white;
}

